<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">

<head>
 <title>Save</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>

<body>
 <div class="container">
  <form class="form-horizontal" role="form" method="POST" th:action="@{/submited}" th:object="${result}">
      <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
     </div>
             </div>
         </div> 


	<div class="row">
				<div class="col-md-3 field-label-responsive">
					<label for="batchName">Batch Name</label>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<div class="input-group-addon" style="width: 2.6rem">
								<i class="fa fa-at"></i>
							</div>


							<select name="batchName" id="batchName" class="form-control">
								<option value="">.......</option>
								<option th:each="batch:${batches}"
								th:value="${batch.batchName}"
								th:utext="${batch.batchName}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-control-feedback">
						<span class="text-danger align-middle" th:if="${#fields.hasErrors('batchName')}" th:errors="*{batchName}">
                         </span>
				</div>
				</div>
			</div>

               <div class="row">
				<div class="col-md-3 field-label-responsive">
					<label for="coureName">Course Name</label>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<div class="input-group-addon" style="width: 2.6rem">
								<i class="fa fa-at"></i>
							</div> 
			
		                  <select name="coursename" id="coursename" class="form-control">
		                  <option value="">.......</option>					
								<option value="" th:each="course : ${courselist}"
								th:value="${course.coursename}"
								th:text="${course.coursename}"></option>
		                  </select>
							
		
						
						</div>
					</div>
				</div> 
		 		<div class="col-md-3">
					<div class="form-control-feedback">

				</div>
				</div>
			</div>


			 <div class="row">
				<div class="col-md-3 field-label-responsive">
					<label for="facultyName">Faculty Name</label>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<div class="input-group-addon" style="width: 2.6rem">
								<i class="fa fa-at"></i>
							</div>



							<select name="facultyname" id="facultyname"class="form-control">
								<option value="">.......</option>
								<option th:each="faculty:${facultys}"
								th:value="${faculty.facultyname}"
								th:text="${faculty.facultyname}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-control-feedback">
						
					</div>
				</div>
			</div>

 <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                 <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i>Save</button>
             </div>
         </div>
         </form>
 </div>
</body>
</html>

